AQI_LATITUDE=13.75
AQI_LONGITUDE=100.5
AQI_TIMEZONE=Asia/Bangkok
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=aqi-data
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_POSTGRES_DB=airflow
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
