.DS_Store
.env
.venv/
.streamlit/secrets.toml
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
*.egg-info/

data/raw/*
!data/raw/.gitkeep
data/clean/*
!data/clean/.gitkeep

warehouse/*
!warehouse/.gitkeep
*.duckdb

dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml

airflow/logs/*
!airflow/logs/.gitkeep
